@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Ultra&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sniglet&display=swap');
.body {
overflow-x: hidden;
font-family: 'Lato', sans-serif;
color :black;
}

body{
background-image: #a1a1a1;
}

.offset:before{
	display: block;
	content: "";
	height: 4rem;
	margin-top: -4rem;
}
.navbar {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.1rem;
	letter-spacing: .1rem;
	background-color: #d5d1d1ad!important;
}

.navbar-brand img{
	height: 3.5rem;
}

.navbar-nav li{
	padding-right: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
	color:#0078c1!important;
	padding-top: 1rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
	color:#ed1965!important;
}

.home-inner img{
	width: 100%;
	height: 730px;	
}

.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top:40%;
	z-index:1;
	color: white;
	text-transform: uppercase;
}

.caption h1{
	font-size: 3.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
	padding-bottom: 1rem;
}
.caption h2{
	font-size: 3.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
	padding-bottom: 1rem;
}
.caption h3{
	font-style: 2rem;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 1.6rem;
}
.btn-lg {
	border-width: medium;
	border-radius: 0;
	padding: .6rem 1.3rem;
	font-size:1.1rem;
}
#des {
	background-color: #aea8a829;
	background-size: 1519px 500px;
	padding: 20px;
	font-family:'Sniglet', cursive;
	color: #0078c9;
	font-style: bold;
}

#des h1{
	font-family:'Roboto Slab', serif;
	font-style: bold;
	color:#eb2060bd; 
}

.btn-secondary {
	border-width: medium;
	border-radius: 0;
	font-size: 1.2rem;
    color: #0079c9!important;
    margin-bottom: 30px;
    background-color: #ffffff!important;
    border-color: #ffffff!important;
}
.btn-secondary:hover {
	background-color: #ed37717a!important;
}

.narrow{
	width: 75%;
	margin:1.5rem auto;
}

.narrow h1{
	font-size: 2.4rem;
}

.jumbotron{
	margin-bottom: 0;
	padding: 1rem;
	border-radius: 0;
	background-image: url(image/car.jpg);
	z-index: -1;
}

.container-fulid{
	margin-bottom: 0;
	padding: 1rem;
	border-radius: 0;
	background-image: url(image/car.jpg);
	z-index: -1;
}

h3.heading{
font-size: 1.9rem;
font-weight: 700;
text-transform: uppercase;
margin-bottom: 1.9rem
}
#line1 .heading-underline{
width: 15rem;
height: .3rem;
background-color: #e62c6dbf;
margin:0 auto 2rem;
margin-top: 25px;
}

#line2 .heading-underline{
width: 15rem;
height: .3rem;
background-color: white;
margin:0 auto 2rem;
margin-top: 25px;
margin-bottom: 40px;
}


.fixed{
	background-image: url(image/bimage.jpg);
	background-repeat: none;
	z-index: -1;
}
.dark{
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	padding: 7rem 2rem;
}
.fixed-background h3{
margin-bottom: 2rem;
}

.fixed-background p{
margin-top: 1.5rem;
}

#cartext{
	padding-top: 0px;
	margin-top: 0px;
	color: #bcb9ba;	
}
#cartext h3{
	font-size: 2rem;
	padding: 0px:;
}

#contact-us{
	margin-left: 100px;
}

#submit-button{
	margin-top: 10px;
}

#contact-details{
	margin-right: 100px;
}

input,textarea{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid black;
	margin-top: 10px;
	width: 40%;
}

#contact-div{
	margin-top: 10vh;
	margin-bottom: 10vh;
}

#contact-details{
	float: left;
	margin-left: 15%;
}

.images{
	height: 35vh;
	width: 35vw;
}

.project{
	background-color: #fff;
	color: #000;
	text-align: left;
	padding: 0.5vw;
	margin-left: 1vw;
}

.project p{
	margin: 0;
}